html
    head
        title Signup
    body
        if(message)
            h4 #{message}
        form(action="/login" method="POST")
            input(name="token" type="text" required value="")
            button(type="Submit") Sign me up!