html
    head
        title Signup
    body
        if(message)
            h4 #{message}
        form(action="/login" method="POST")
            input(name="username" type="text" required placeholder="User ID")
            input(name="password" type="password" required placeholder="Password")
            button(type="Submit") Sign me up!